html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

#main-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#library-display, #project-display {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 3fr 1fr;
    border: 2px solid black;
    width: 75%;
    max-width: 1000px;
}

#library-title, #item-title {
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

#library-date, #item-due-date {
    border-bottom: 2px solid black;
}

.project-icon-container {
    display: flex;
    opacity: 0;
}

.project-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}